{{define "categories"}}
{{template "header"}}
<a href="/categories/new">Create Categorie</a>

{{ range $key, $value := .Categories}}
<div class="top-margin">
    <div class="container large">
        <article>
            <h1><a class="article-title" href="/categories/{{.Category_ID}}/{{.Title}}">{{.Title}}</a></h1>
            <p><a href="/categories/edit/{{.Category_ID}}/{{.Title}}">edit</a></p>
            <div class="article-content"><p>{{printf "%s" .Description}}</p>
            </div><br />
        </article>
    </div>
</div>
{{ end }}

{{template "footer"}}
{{end}}