{{define "edit-post"}}
    {{template "header"}}
        {{ range $key, $value := .}}
        <h1>Editing <a href="/posts/{{.Post_ID}}/{{.Title}}">{{.Title}}</a></h1>

        <form action="/posts/save/{{.Post_ID}}/{{.Title}}" method="POST">
            <input type="text" name="title" placeholder=" Title" value="{{.Title}}"/><br />
            <input type="text" name="description" placeholder="Post Description (max 160 characters)" value="{{.Description}}"/><br />
            <label for="select">Category</label>
            <select id="categories" name="cat_name">
                <option name="none" value="None">None</option>
            </select>
            <br />
            <input type="text" name="category" placeholder="Category"/><br />
            <input type="hidden" name="cat_type" value="post"/><br />
            <textarea name="content" rows="20" cols="80">{{printf "%s" .Content}}</textarea><br />
            <input type="submit" value="Save">
        </form>
        {{end}}
    {{template "footer"}}
{{end}}