{{define "edit-category"}}
    {{template "header"}}
    <h1>Edit Category</h1>
    {{ range $key, $value := .Categories}}
        <form action="/categories/save/{{.Category_ID}}/{{.Title}}" method="POST">
            <input type="text" name="title" placeholder=" Title" value="{{.Title}}"/><br />
            <input type="text" name="description" placeholder="Category Description (max 160 characters)" value="{{.Description}}"/><br />
            <input type="hidden" name="category_id" value="{{.Category_ID}}">
            <input type="submit" value="Save">
        </form>
        </form>
    {{end}}
    {{template "footer"}}
{{end}}